### Exercise 6: Manipulating elements in a DataFrame / Slice

In [1]:
# run the cell!
import pandas as pd

In [28]:
# run the cell!
cars = pd.read_csv("cars.csv")

In [3]:
# run the cell!
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10

50. __Create a subset__ of the DataFrame __cars__ with all cars having an __mpg higher than 40__! __Save__ the subset in the variable __high_eff__!<br>
__high_eff__ should be a new and __independent__ DataFrame. Any changes in high_eff shall __not influence__ the original DataFrame __cars__!

In [10]:
high_eff = cars.loc[cars.mpg > 40].copy()

In [11]:
high_eff.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
244,43.1,4,90.0,48.0,1985,21.5,78,europe,vw rabbit custom diesel
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)

51. __Cap__ the __mpg__ for all cars in __high_eff__ to __40__ (Overwrite the mpg values)! Your code should not cause any warning message!

In [17]:
high_eff.mpg = 40

__Inspect__ high_eff! In the column __"mpg"__, all values should be __40__!

In [18]:
# run the cell!
high_eff

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
244,40,4,90.0,48.0,1985,21.5,78,europe,vw rabbit custom diesel
309,40,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
322,40,4,86.0,65.0,2110,17.9,80,japan,mazda glc
324,40,4,85.0,65.0,2110,19.2,80,japan,datsun 210
325,40,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
326,40,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
329,40,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
330,40,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
394,40,4,97.0,52.0,2130,24.6,82,europe,vw pickup
mpg,40,40,40.0,40.0,40,40.0,40,40,40

__Check__ in the original __cars__ Dataframe, whether there are still __values greater than 40__ in the __"mpg"__ column! <br>
If so, your code is correct!

In [29]:
# run the cell!
cars.mpg.max()

46.6

52. Now, we want to __manipulate the original__ DataFrame __cars__. __Cap__ all mpg values __greater than 40__ to 40! Your code should not cause any warning message!

In [38]:
cars.loc[cars.mpg > 40, "mpg"] = 40

__Check__, whether there are any values __greater than 40__ in the __"mpg"__ column of the __cars__ DataFrame. If so, your code was incorrect!

In [40]:
# run the cell!
cars.mpg.max()

40.0